<!-- Button trigger modal -->
<button type="button" class= "<%=klass%>" data-toggle="modal" data-target="#modal-<%= event ? event.id : "new"%>">
  <%= event ? "Edytuj" : "Nowe Wydarzenie"%>
</button>

<!-- Modal -->
<div class="modal fade img-inside" id="modal-<%= event ? event.id : "new"%>" tabindex="-1" role="dialog" aria-labelledby="v" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= event ? event.title : "Nowe Wydarzenie" %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= render 'form', event: event %>
    </div>
  </div>
</div>
