  <div class="card event">
    <div class="card-header" id="eventHeader-<%=event.id%>" type="button" data-toggle="collapse" data-target="#eventContent-<%=event.id%>" aria-expanded="true" aria-controls="eventContent-<%=event.id%>">
      <div class="flex-row">
        <img class="img-thumbnail mr-3" src="<%=event.image.thumb.url%>"/>
        <h4 class="card-title vcenter m-0"><%= event.title %></h4>
      </div>
    </div>
    <div id="eventContent-<%=event.id%>" class="collapse accordion-card content eventContent" aria-labelledby="eventHeader-<%=event.id%>" data-parent="#eventAccordion">
      <div class="card-body">

        <div class="row">
          <div class="col-auto col-sm-4 col-lg-auto pb-3">
            <img class="card-img-left img-100" alt="Plakat" src="<%=(event.image.poster.url ? event.image.poster.url : image_path('noimage.png'))%>"/>
          </div>
          <div class="col col-sm-8 col-lg">
            <p class="text-justify" style="text-indent: 2rem"><%= event.description %></p>
          </div>
          <hr/>
        </div>

        <div class="card border-bottom">
          <div class="card-header">
            <div class="d-flex flex-row justify-content-between">
              <h5 class="card-title vcenter m-0 align-self-center">Projekcje w ramach wydarzenia</h5>
            </div>
          </div>
          <% unless get_event_shows(event).empty?  %>
            <div class="card-body">
              <ul class="list-group list-group-flush" id="event_shows-container-<%=event.id%>">
                <% get_event_shows(event).each do |show| %>
                  <li id="show<%=show.id%>" class="list-group-item">
                    <div class="row">
                      <p>
                        <b>Data: </b><%= show.start_time.strftime('%A, %e %B %Y') %>
                        <b>Godzina: </b><%= show.start_time.strftime('%k:%M') %>
                      </p>
                      <p><%= if movie = get_show_movie(show) then movie.title end%></p>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          <% else %>
            <%= render 'admin/shows/blank_card' %>
          <% end %>
        </div>

        <div class="row justify-content-end m-0 mt-3">
          <%= render 'eventModal', event: event, klass: "btn btn-outline-primary ml-2 mt-2 mt-sm-0"%>
          <%= button_to "Usuń", admin_event_path(event), method: 'delete', class: "btn btn-outline-danger flash-trigger ml-2 mt-2 mt-sm-0", data: { confirm: 'Na pewno?' } %>
        </div>
      </div>
    </div>
  </div>
