<%= form_with model: [:admin, event || event = Event.new], method: event.id ? "put" : "post", remote: true, :html => {id: "#{event.id}_form"} do |form| %>
<div class="modal-body row">

<div class="col-md-6">
  <div class="form-group">
    <%= form.select :is_cycle, { "Wydarzenie" => false, "Cykl" => true }, { }, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= form.label "Tytuł:", class: "col-form-label-sm" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Opis:", class: "col-form-label-sm" %><br>
    <%= form.text_area :description, rows: 10, class: "form-control" %>
  </div>
</div>

<div class="col-md-6">
  <div class="form-group">
    <label class="btn btn-outline-primary mr-1 mb-0 btn-sm">
      Dodaj plakat
      <%= form.file_field :image, onchange: "showImagePreview(this, #{event.id})", hidden: true %>
    </label>
    <button type="button" id="<%=event.id%>_imageRemover" class="btn btn-sm btn-outline-danger remover" onclick="removeImg(<%=event.id%>)"
      <%=if event.image.url.starts_with?("/assets/noimage") then 'disabled' end%> >Usuń plakat</button>
  </div>
  <img id="<%=event.id%>_imgPreview" class="col-12 img-resposive px-0"
       src= "<%= event.image.poster.url %>"
       alt= "Nie załączono plakatu"
       data-original= "<%= event.image.poster.url %>"/>
  <%= form.hidden_field :remove_image, :value => false, :id => "#{event.id}_remove_image"%>
</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Anuluj</button>
  <%= form.submit "Zapisz", class: "btn btn-outline-primary flash-trigger" %>
</div>

<% end %>
