<div class="card card-body">
  <div class="row d-flex justify-content-between align-items-center mx-1">
    <%= render 'eventModal', event: nil, klass: "btn btn-outline-primary mb-2 mb-md-0"%>
    <%= render 'layouts/search', url: "events" %>
  </div>
</div>
<div class="row mx-0">
  <div class="col-lg-6 px-0">
    <h3 class="my-3 pl-4">Wydarzenia:</h5>
    <div class="accordion" id="eventAccordion">
      <%= render @regular_events %>
    </div>
  </div>
  <div class="col-lg-6 px-0">
    <h3 class="my-3 pl-4">Cykle:</h5>
    <div class="accordion" id="eventAccordion">
      <%= render @cycle_events %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#eventContent-<%=@id%>").collapse('show')
</script>
