<%= form_with model: [:admin, show || show = Show.new], method: show.id ? "put" : "post", remote: true, :html => {id: "#{show.id}_show-form"} do |form| %>
  <div class="modal-body">
    <div class="form-group date">
      <div class="input-group datetimepicker" id="datetimepicker-<%=show.id%>" data-target-input="nearest">
        <%= form.text_field :start_time, { :class => "form-control datetimepicker-input", 'data-target' => "#datetimepicker-#{show.id}"}%>
        <div class="input-group-append" data-target="#datetimepicker-<%=show.id%>" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= form.label "Film:", class: "col-form-label-sm" %>
      <%= form.select :movie_id, Movie.all.collect {|movie| [ movie.title, movie.id ] }, { include_blank: true }, { class: "form-control" } %>
    </div>
    <div class="form-group">
      <%= form.label "Dodaj do wydarzenia:", class: "col-form-label-sm" %>
      <%= form.select :event_id, Event.all.collect {|event| [ event.title, event.id ] }, { include_blank: "Regularna projekcja" }, { class: "form-control" } %>
    </div>
    <div class="form-group">
      <%= form.label "Plan taryfowy:", class: "col-form-label-sm" %>
      <%= form.select :ticket_plan_id, TicketPlan.all.collect {|ticket_plan| [ ticket_plan.name, ticket_plan.id ] }, { include_blank: "Wstęp wolny" }, { class: "form-control" } %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Anuluj</button>
    <%= form.submit "Zapisz", class: "btn btn-outline-primary"%>
  </div>
<% end %>
