<li id="show<%=show.id%>" class="list-group-item">
  <p>
    <b>Data: </b><%= show.start_time.strftime('%A, %e %B %Y') %>
    <b>Godzina: </b><%= show.start_time.strftime('%k:%M') %>
  </p>
  <% if get_show_parent(show).is_a?(Movie) && event = get_show_event(show) %>
    <p><b><%=event.title%></b></p>
  <% elsif get_show_parent(show).is_a?(Event) && movie = get_show_movie(show) %>
    <p><b><%=movie.title%></b></p>
  <% end %>

  <%= render 'admin/ticket_plans/ticket_plan_inline', ticket_plan: get_show_ticket_plan(show) %>
</li>
