<!-- Button trigger modal -->
<button type="button" class="<%= klass %>" data-toggle="modal" data-target="#showModal_<%= show ? show.id : "newShow"%>">
  <%= show ? "Edytuj" : "Nowa Projekcja" %>
</button>

<!-- Modal -->
<div class="modal fade show-modal" id="showModal_<%= show ? show.id : "newShow"%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= get_show_parent(show) ? get_show_parent(show).title : "Nowa Projekcja"%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= render 'admin/shows/form', show: show %>
    </div>
  </div>
</div>
