<div class="card" id="showCard-<%=show.id%>">
  <div class="card-header" id="showHeader-<%=show.id%>" type="button" data-toggle="collapse" data-target="#showContent-<%=show.id%>" aria-expanded="true" aria-controls="showContent-<%=show.id%>">
    <div class="row justify-content-between m-0">
      <h4 class="card-title vcenter m-0 p-0 align-self-center col-md-4">
        <%= show.start_time.strftime('%a, %e.%m, %k:%M')%>
      </h4>
      <h4 class="card-title vcenter m-0 p-0 align-self-center col-md-8 text-right">
        <%= get_show_parent(show).title %>
      </h4>
    </div>
  </div>
  <div id="showContent-<%=show.id%>" class="collapse accordion-card content showContent border-bottom" aria-labelledby="showHeader-<%=show.id%>" data-parent="#showAccordion">
    <div class="card-body pb-0">
      <p>
        <b>Data: </b><%= show.start_time.strftime('%A, %e %B %Y') %>
        <b>Godzina: </b><%= show.start_time.strftime('%k:%M') %>
      </p>
      <% if event = get_show_event(show) %><p><b>Wydarzenie / cykl: </b><%= event.title %></p><% end %>
      <%= render 'admin/ticket_plans/ticket_plan_inline', ticket_plan: get_show_ticket_plan(show) %>
    </div>
    <div class="row justify-content-end m-3">
      <%= render 'showModal', show: show, klass: "btn btn-outline-primary ml-2 mt-2 mt-sm-0"%>
      <%= button_to "Usuń", admin_show_path(show), method: 'delete', class: "btn btn-outline-danger flash-trigger ml-2 mt-2 mt-sm-0", data: { confirm: 'Na pewno?' } %>
    </div>
  </div>
</div>
