<div class="card card-body">
<div class="row d-flex justify-content-between align-items-center mx-1">
  <%= render 'showModal', show: nil, klass: "btn btn-outline-primary mb-2 mb-md-0"%>
  <%= render 'layouts/search', url: "shows" %>
</div>
</div>
<div class="accordion" id="showAccordion">
  <%= unless @sorted_shows.empty? then render @sorted_shows else render 'blank_card' end%>
</div>
<script type="text/javascript">
  $("#showContent-<%=@id%>").collapse('show')
</script>
