<%= form_with model: [:admin, movie || movie = Movie.new], method: movie.id ? "put" : "post", remote: true, :html => {id: "#{movie.id}_form"} do |form| %>
<div class="modal-body">
  <div class="row">

<div class="col-md-6">

  <div class="form-group">
    <%= form.label "Tytuł:", class: "col-form-label-sm m-0" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Reżyseria:", class: "col-form-label-sm m-0" %><br>
    <%= form.text_field :directed_by, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Scenariusz:", class: "col-form-label-sm m-0" %><br>
    <%= form.text_field :screenplay_by, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Obsada:", class: "col-form-label-sm m-0" %><br>
    <%= form.text_field :staring, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Kraj produkcji:", class: "col-form-label-sm m-0" %><br>
    <%= form.text_field :country, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Rok produkcji:", class: "col-form-label-sm m-0" %><br>
    <%= form.number_field :year, class: "form-control", min: 1900 %>
  </div>

  <div class="form-group">
    <%= form.label "Czas trwania:", class: "col-form-label-sm m-0" %><br>
    <%= form.number_field :duration, class: "form-control", min: 1 %>
  </div>

</div>

<div class="col-md-6">
  <div class="form-group">
    <label class="btn btn-outline-primary mr-1 mb-0 btn-sm">
      Dodaj plakat
      <%= form.file_field :image, onchange: "showImagePreview(this, #{movie.id})", hidden: true %>
    </label>
    <button type="button" id="<%=movie.id%>_imageRemover" class="btn btn-sm btn-outline-danger remover" onclick="removeImg(<%=movie.id%>)"
      <%=if movie.image.url.starts_with?("/assets/noimage") then 'disabled' end%> >Usuń plakat</button>
  </div>
  <img id="<%=movie.id%>_imgPreview" class="col-12 img-resposive px-0"
       src= "<%= movie.image.poster.url %>"
       alt= "Nie załączono plakatu"
       data-original= "<%= movie.image.poster.url %>"/>
  <%= form.hidden_field :remove_image, :value => false, :id => "#{movie.id}_remove_image"%>
</div>

</div>
<div class="form-group">
  <%= form.label "Opis:", class: "col-form-label-sm m-0" %><br>
  <%= form.text_area :description, rows: 10, class: "form-control" %>
</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Anuluj</button>
  <%= form.submit "Zapisz", class: "btn btn-outline-primary flash-trigger" %>
</div>

<% end %>
