  <div class="card movie">
    <div class="card-header" id="movieHeader-<%=movie.id%>" type="button" data-toggle="collapse" data-target="#movieContent-<%=movie.id%>" aria-expanded="true" aria-controls="movieContent-<%=movie.id%>">
      <div class="flex-row">
        <img class="img-thumbnail mr-3" src="<%=movie.image.thumb.url%>"/>
        <h4 class="card-title vcenter m-0"><%= movie.title %></h4>
      </div>
    </div>
    <div id="movieContent-<%=movie.id%>" class="collapse accordion-card content movieContent" aria-labelledby="movieHeader-<%=movie.id%>" data-parent="#movieAccordion">
      <div class="card-body">

        <div class="row">
          <div class="col-auto col-sm-4 col-lg-auto pb-3">
            <img class="card-img-left img-100" alt="Plakat" src="<%=(movie.image.poster.url ? movie.image.poster.url : image_path('noimage.png'))%>"/>
          </div>
          <div class="col col-sm-8 col-lg pl-0">
            <p class="my-0"><b>Reżyseria: </b></br><%= movie.directed_by %></p>
            <hr class="m-1"/>
            <p class="my-0"><b>Scenariusz: </b></br><%= movie.screenplay_by %></p>
            <hr class="m-1"/>
            <p class="my-0"><b>Wysępują: </b></br><%= movie.staring %></p>
            <hr class="m-1"/>
            <p class="my-0"><b>Kraj produkcji: </b></br><%= movie.country %></p>
            <hr class="m-1"/>
            <p class="my-0"><b>Rok produkcji: </b></br><%= movie.year %></p>
            <hr class="m-1"/>
            <p class="my-0"><b>Czas trwania: </b></br><%= movie.duration %></p>
          </div>
          <div class="col-lg-5 col-xl-6">
            <p class="text-justify" style="text-indent: 2rem"><%= movie.description %></p>
          </div>

          </div>

        <div class="collapse proj-card mb-3" id="<%=movie.id%>-shows">
          <div class="card border-bottom">
            <div class="card-header">
              <div class="d-flex flex-row justify-content-between">
                <h5 class="card-title vcenter m-0 align-self-center">Projekcje</h5>
              </div>
            </div>
            <% if shows = get_movie_shows(movie) %>
              <div class="card-body">
                <ul class="list-group list-group-flush" id="showsContainer-<%=movie.id%>">
                  <% shows.each do |show| %>
                    <%= render 'admin/shows/show_li', show: show %>
                  <% end %>
                </ul>
              </div>
            <% else %>
              <%= render 'admin/shows/blank_card' %>
            <% end %>
          </div>
        </div>

        <div class="row justify-content-end m-0">
          <button class="btn btn-outline-secondary mt-2 mt-sm-0" type="button" data-toggle="collapse" data-target="#<%=movie.id%>-shows" aria-expanded="false" aria-controls="<%=movie.id%>-shows">
            Projekcje
          </button>
          <%= render 'movieModal', movie: movie, klass: "btn btn-outline-primary ml-2 mt-2 mt-sm-0"%>
          <%= button_to "Usuń", admin_movie_path(movie), method: 'delete', class: "btn btn-outline-danger flash-trigger ml-2 mt-2 mt-sm-0", data: { confirm: 'Na pewno?' } %>
        </div>
      </div>
      </div>
    </div>
