<!-- Button trigger modal -->
<button type="button" class= "<%=klass%>" data-toggle="modal" data-target="#modal-<%= movie ? movie.id : "new"%>">
  <%= movie ? "Edytuj" : "Nowy Film"%>
</button>

<!-- Modal -->
<div class="modal fade img-inside" id="modal-<%= movie ? movie.id : "new"%>" tabindex="-1" role="dialog" aria-labelledby="v" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= movie ? movie.title : "Nowy Film" %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= render 'form', movie: movie %>
    </div>
  </div>
</div>
