<div class="card card-body">
<div class="row d-flex justify-content-between align-items-center mx-1">
  <%= render 'movieModal', movie: nil, klass: "btn btn-outline-primary mb-2 mb-md-0"%>
  <%= render 'layouts/search', url: "movies" %>
</div>
</div>
<div class="accordion" id="movieAccordion">
  <%= unless @movies.empty? then render @movies else render 'blank_card' end%>
</div>
<script type="text/javascript">
  $("#movieContent-<%=@id%>").collapse('show')
  if ("<%=@focus_shows%>" == "true") {
    $("#<%=@id%>-shows").collapse('show')
  }
</script>
