<%= form_with model: [:admin, ticket_plan, ticket || ticket = Ticket.new], method: ticket.id ? "put" : "post", remote: true, :html => {id: "#{ticket.id}ticket_form"} do |form| %>
  <div class="modal-body">
    <div class="row mx-2 p-0 justify-content-between">
      <%= form.text_field :name, class: "form-control col-8", placeholder: "Nazwa" %>
      <%= form.number_field :price, class: "form-control col-3", placeholder: "Cena" %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Anuluj</button>
    <%= form.submit "Zapisz", class: "btn btn-outline-primary"%>
  </div>
<% end %>
