<li id="editTicket<%=ticket.id%>" class="list-group-item">
  <div class="row justify-content-between">
    <div class="col-md-8">
      <p><b><%= ticket.name %></b> <%= ticket.price %> zł</p>
    </div>
    <div class="col-md-4 flex-col justify-content-center">
      <div class="btn-toolbar justify-content-end">
        <%= render 'admin/tickets/ticket_modal', ticket_plan: ticket_plan, ticket: ticket, klass: "btn btn-outline-primary btn-sm", style: nil %>
        <%= button_to "Usuń", admin_ticket_plan_ticket_path(ticket_plan, ticket), method: 'delete', remote: true, class: "btn btn-outline-danger ml-2 flash-trigger btn-sm"%>
      </div>
    </div>
  </div>
</li>
