<!-- Button trigger modal -->
<button type="button" class= "<%=klass%>" style="<%=style ? style : ""%>" data-toggle="modal" data-target="#ticket_modal-<%=ticket_plan.id%>-<%= ticket ? ticket.id : "new"%>">
  <%= ticket ? "Edytuj" : "Dodaj Bilet"%>
</button>

<!-- Modal -->
<div class="modal fade" id="ticket_modal-<%=ticket_plan.id%>-<%= ticket ? ticket.id : "new"%>" tabindex="-1" role="dialog" aria-labelledby="v" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= ticket ? ticket.name : "Nowy Bilet" %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= render 'admin/tickets/form', ticket_plan: ticket_plan, ticket: ticket %>
    </div>
  </div>
</div>
