<%= form_with model: [:admin, ticket_plan || ticket_plan = TicketPlan.new], method: ticket_plan.id ? "put" : "post", remote: true, :html => {id: "#{ticket_plan.id}ticket_plan_form"} do |form| %>
  <div class="modal-body">
    <%= form.text_field :name, class: "form-control", placeholder: "Nazwa" %>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Anuluj</button>
    <%= form.submit "Zapisz", class: "btn btn-outline-primary"%>
  </div>
<% end %>
