<!-- Button trigger modal -->
<button type="button" class= "<%=klass%>" data-toggle="modal" data-target="#ticket_plan_modal-<%= ticket_plan ? ticket_plan.id : "new"%>">
  <%= ticket_plan ? "Edytuj" : "Nowy Plan Taryfowy"%>
</button>

<!-- Modal -->
<div class="modal fade" id="ticket_plan_modal-<%= ticket_plan ? ticket_plan.id : "new"%>" tabindex="-1" role="dialog" aria-labelledby="v" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= ticket_plan ? ticket_plan.name : "Nowy Plan Taryfowy" %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= render 'form', ticket_plan: ticket_plan %>
    </div>
  </div>
</div>
