<div class="card" id="ticketPlanCard-<%=ticket_plan.id%>">
  <div class="card-header" id="ticketPlanHeader-<%=ticket_plan.id%>" type="button" data-toggle="collapse" data-target="#ticketPlanContent-<%=ticket_plan.id%>" aria-expanded="true" aria-controls="ticketPlanContent-<%=ticket_plan.id%>">
    <div class="row justify-content-between m-0">
      <h4 class="card-title vcenter m-0 align-self-center"><%= ticket_plan.name %></h4>
      <%= render 'admin/tickets/ticket_modal', ticket_plan: ticket_plan, ticket: nil, klass: "btn btn-outline-primary btn-sm modalTrigger", style: "display:none"%>
    </div>
  </div>
  <div id="ticketPlanContent-<%=ticket_plan.id%>" class="collapse accordion-card content ticketPlanContent" aria-labelledby="ticketPlanHeader-<%=ticket_plan.id%>" data-parent="#ticketPlanAccordion">
    <% unless ticket_plan.tickets.empty? %>
      <div class="card-body">
        <ul class="list-group list-group-flush" id="ticketContainer-<%=ticket_plan.id%>">
          <%= render ticket_plan.tickets, ticket_plan: ticket_plan %>
        </ul>
      </div>
    <% else %>
      <%= render 'admin/tickets/blank_card' %>
    <% end %>
    <div class="row justify-content-end m-3">
      <%= render 'ticket_plan_modal', ticket_plan: ticket_plan, klass: "btn btn-outline-primary ml-2 mt-2 mt-sm-0"%>
      <%= button_to "Usuń", admin_ticket_plan_path(ticket_plan), method: 'delete', class: "btn btn-outline-danger flash-trigger ml-2 mt-2 mt-sm-0", data: { confirm: 'Na pewno?' } %>
    </div>
  </div>
</div>
