<div class="card card-body">
<div class="row d-flex justify-content-between align-items-center mx-1">
  <%= render 'ticket_plan_modal', ticket_plan: nil, klass: "btn btn-outline-primary mb-2 mb-md-0"%>
</div>
</div>
<div class="accordion" id="ticketPlanAccordion">
  <%= render @ticket_plans %>
</div>
<script type="text/javascript"> $("#ticketPlanContent-<%=@id%>").collapse('show') </script>
