/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require tempusdominus-bootstrap-4
 *= require_tree .
 *= require_self
 */

 .img-100 {
   width: 100%
 }

 .vcenter {
     display: inline-block;
     vertical-align: middle;
     float: none;
 }

.list-group-item, .list-group-item:hover {
  z-index: auto;
}

#flash-place {
  position: fixed;
  top: 20px;
  right: 10%;
  left: 10%;
  z-index: 10000 !important;
}

.shadow {
  box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.5);
}
