<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %> shadow">
    <script type="text/javascript"> setTimeout(function() { $(".alert").fadeOut(500) }, 2000) </script>
    <h4 class="alert-heading vcenter m-0"><%= value %></h4>
    <% if @movie && @movie.errors.any? %>
      <ul><% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <%end%></ul>
    <%end%>
    <% if @show && @show.errors.any? %>
      <ul><% @show.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <%end%></ul>
    <%end%>
  </div>
<% end %>
