<%= form_with url: url, local: true, method: "get", class: "form-inline justify-content-end" do |form| %>
    <%= form.text_field :search, value: params[:search] || '', class: "form-control mr-sm-2" %>
    <%= form.submit "Wyszukaj", class: "btn btn-outline-success my-2 my-sm-0" %>
<% end %>
